

html { 
    background: url(../images/grasses_blurred_reduced_qual.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.left
{
    position:absolute;    
    left:5%;
}

.right
{
    position:absolute;    
    right: 20%;
}

.white{
    color: #FFFFFF;
}

.list
{
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 1em;
    color: #FFFFFF;
}
